.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;

	padding: 24px 0;
	background: $footerBgColor;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__copyright {
		color: $whiteColor;
		font-size: 13px;
		font-weight: 500;
	}

	@media screen and (max-width: 768px) {
		&__container {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			gap: 12px;
		}
	}
}
